<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>劉羿萱簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:blue;}
	</style>
	<script>
		function change1() {
  			document.getElementById("pic").src = "mountain.jpg";
		}

		function change2() {
  			document.getElementById("pic").src = "cliff.jpg";
		}
	</script>

</head>
<body>
	<h1 align="center">劉羿萱 Yi-Xuan Liu</h1>
	<table border="1pt">
	<tr>
		<td>
			<img src="cliff.jpg" alt="錯誤" width="50%" id="pic" onmouseover="change1()" onmouseout="change2()">
		</td>
		<td>
			圖一
		</td>
	</tr>
	<tr>
		<td>
			<img src="mountain.jpg" alt="錯誤" width="50%">
		</td>
		<td>
			圖二
		</td>
	</tr>
	<tr>
		<td>
			<iframe src="https://www.youtube.com/embed/pW88QFpHXa8" allowfullscreen></iframe>

		</td>
		<td>
			不要去台灣
		</td>
	</tr>
	</table>
	<audio controls>
		<source src="elephant.mp3">
	</audio>

</body>
</html>